.idea/
cpp/release/
cpp/debug/
cpp/Integration/release/
cpp/Integration/debug/
cpp/include/
python/venv
venv/
venv*/
pypi_release/wheelhouse/*.whl
*__pycache__/
pypi_release/dist/

build/
pykingas/fluids/
pykingas.egg-info/
venv*
rebuild.sh
.vscode/
.DS_Store
*.mplstyle
sandbox/*
sandbox/archive/*
*.so
*.dylib